---
import HeroBanner from "../../components/HeroBanner.astro";
import {
  BlogPostFrontmatter,
  getBlogPostFullTitle,
} from "../../helpers/blogHelpers";
import AppLayout from "../../layouts/AppLayout.astro";

const allPosts = (await Astro.glob<BlogPostFrontmatter>("./*.md")).filter(
  (post) => !post.frontmatter.draft
);

const title = "Blog";
---

<AppLayout title={title}>
  <HeroBanner
    patternSrc="url('/images/global/hero-patterns/graph-paper.svg')"
    subtitle={title}
  />

  <div
    class="content-container flexbox-vertical with-responsive-padding-inline"
  >
    {
      allPosts.length > 0 ? (
        <ul class="list-without-bullets posts-list">
          {allPosts
            .sort((a, b) => b.file.localeCompare(a.file))
            .map((post) => (
              <li>
                <a class="text-link" href={post.url}>
                  {getBlogPostFullTitle(post.frontmatter)}
                </a>
              </li>
            ))}
        </ul>
      ) : (
        <p class="empty-message">Coming soon!</p>
      )
    }
  </div>
</AppLayout>

<style>
  .content-container {
    gap: var(--spacing-7);
    padding-block: var(--spacing-7);
    text-align: center;
  }

  .empty-message {
    font-size: var(--font-size-4);
  }

  .heading {
    font-size: var(--font-size-5);
    margin-block-end: var(--spacing-3);
  }

  .posts-list {
    gap: var(--spacing-2);
  }
</style>
