body {
  color: var(--color-neutral-9);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-2);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-serif);
}

h1 {
  font-size: var(--font-size-7);
  line-height: 1.2;
}

h2 {
  font-size: var(--font-size-5);
  line-height: 1.3;
}

h3 {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-0);
}

h4 {
  font-size: var(--font-size-4);
}

h5 {
  font-size: var(--font-size-3);
}

h6 {
  font-size: var(--font-size-2);
}

.flexbox-vertical {
  display: flex;
  flex-direction: column;
}

.flexbox-vertical-paragraphs {
  gap: var(--spacing-5);
}

.list-without-bullets {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  list-style-type: none;
  padding: 0;
}

.text-link {
  color: var(--color-primary-1-5);
  transition: text-decoration-color var(--transition-duration-1);
}

.text-link:hover {
  text-decoration-color: transparent;
}

.with-responsive-padding-inline {
  padding-inline: var(--spacing-4);
}

@media (min-width: 768px) {
  .with-responsive-padding-inline {
    padding-inline: var(--spacing-5);
  }
}
