---
import HeroBanner from "../components/HeroBanner.astro";
import AppLayout from "../layouts/AppLayout.astro";
---

<AppLayout>
  <HeroBanner
    patternSrc="url('/images/patterns/floating-cogs.svg')"
    subtitle="Narrative Designer"
  />

  <div
    class="content-container-outer flexbox-vertical with-responsive-padding-inline"
  >
    <div class="content-container-inner flexbox-vertical">
      <p class="text">
        Hello! My name’s Anna. I’m a video game narrative designer based in the
        Bay Area, California. I’m passionate about making games that use
        <span class="text-emphasis">compelling mechanics</span> to tell <span
          class="text-emphasis">unexpected</span
        > or <span class="text-emphasis">emotionally resonant stories</span>.
      </p>

      <p class="text">
        My strengths as a narrative designer lie in my game design skills and in
        my experience across many diverse aspects of game creation—from writing,
        art, and audio to programming, modeling, and animation. I’m comfortable
        communicating with engineers as well as with artists and other
        designers.
      </p>

      <p class="text">
        I do narrative design because I love the process of combining efforts
        across the spectrum of <span class="text-emphasis"
          >human creativity</span
        > to create a <span class="text-emphasis">cohesive</span> and <span
          class="text-emphasis">impactful work of art</span
        >.
      </p>

      <p class="text">
        To learn about my recent game design projects, head over to the <a
          class="text-link"
          href="/projects">Projects</a
        > page.
      </p>

      <p class="text">
        To read analyses of the latest media I’ve been enjoying—from video and
        board games to movies, music, and books—check out my <a
          class="text-link"
          href="/blog">Blog</a
        >.
      </p>
    </div>
  </div>

  <style>
    .content-container-inner {
      gap: var(--spacing-7);
    }

    .content-container-outer {
      align-items: center;
      padding-block: var(--spacing-7);
    }

    .text {
      font-size: var(--font-size-4);
      font-weight: var(--font-weight-0);
      line-height: 1.6;
    }

    .text-emphasis {
      border-bottom-color: var(--color-colorful-1);
      border-bottom-style: solid;
      border-bottom-width: var(--border-width-4);
    }

    .text-emphasis:nth-of-type(3n + 2) {
      border-bottom-color: var(--color-colorful-2);
    }

    .text-emphasis:nth-of-type(3n + 3) {
      border-bottom-color: var(--color-colorful-3);
    }

    .text-link {
      font-weight: var(--font-weight-1);
    }

    @media (min-width: 768px) {
      .content-container-inner {
        max-inline-size: var(--sizing-16);
      }
    }
  </style>
</AppLayout>
