---
import HeroBanner from "../components/HeroBanner.astro";
import AppLayout from "../layouts/AppLayout.astro";
---

<AppLayout>
  <HeroBanner
    patternSrc="url('/images/patterns/floating-cogs.svg')"
    subtitle="Narrative Designer"
    title="Anna Borja"
  />

  <div
    class="content-container-outer flexbox-vertical with-responsive-padding-inline"
  >
    <div class="content-container-inner flexbox-vertical">
      <p class="text">
        Hello! My name’s Anna. I’m a video game narrative designer based in the
        Bay Area, California. I’m passionate about making games that use
        <span class="text-emphasis">compelling mechanics</span> to tell <span
          class="text-emphasis">unexpected</span
        > or <span class="text-emphasis">emotionally resonant stories</span>.
      </p>
    </div>
  </div>
</AppLayout>

<style>
  .content-container-inner {
    gap: var(--spacing-7);
  }

  .content-container-outer {
    align-items: center;
    padding-block: var(--spacing-7);
  }

  .text {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-0);
    line-height: 1.6;
  }

  .text-emphasis {
    border-bottom-color: var(--color-colorful-1);
    border-bottom-style: solid;
    border-bottom-width: var(--border-width-4);
  }

  .text-emphasis:nth-of-type(3n + 2) {
    border-bottom-color: var(--color-colorful-2);
  }

  .text-emphasis:nth-of-type(3n + 3) {
    border-bottom-color: var(--color-colorful-3);
  }

  .text-link {
    font-weight: var(--font-weight-1);
  }

  @media (min-width: 768px) {
    .content-container-inner {
      max-inline-size: var(--sizing-16);
    }
  }
</style>
