---
import HeroBanner from "../components/HeroBanner.astro";
import type { ProjectFrontmatter } from "../helpers/projectHelpers";
import AppLayout from "../layouts/AppLayout.astro";

const projects = (await Astro.glob<ProjectFrontmatter>("./projects/*.mdx"))
  .filter((project) => !project.frontmatter.draft)
  .sort((a, b) => b.file.localeCompare(a.file));

const projectLinkDimension = "var(--sizing-12)";
---

<AppLayout>
  <HeroBanner subtitle="Game Designer" />

  <div
    class="content-container-outer flexbox-vertical with-responsive-padding-inline"
  >
    <div class="content-container-inner flexbox-vertical about-section">
      <p>
        I’m an aspiring video game designer with a technical background that
        includes five years as a senior software engineer at Netflix.
      </p>

      <p>
        While I’ve had rewarding experiences in the tech industry, I’m
        passionate about creative pursuits, and I’m inspired by how games can
        bridge art forms—from writing and music to art, cinematography, and
        sound design—and tie them together through engaging mechanics and
        gameplay loops.
      </p>

      <p>
        My favorite types of games tend to be action-adventure games and
        shooters with strong writing, meaningful player choices, and a cinematic
        flair.
      </p>

      <p class="social-links">
        <a
          class="text-link"
          href="https://www.linkedin.com/in/annaborja/"
          target="_blank">LinkedIn</a
        >
      </p>
    </div>

    <div class="content-container-inner flexbox-vertical">
      <h1 class="heading">Skills</h1>

      <div class="skills-list">
        <div>
          <p class="skills-list-category">Software</p>

          <ul class="skills-sublist flexbox-vertical">
            <li>
              Unreal Engine 5
              <ul>
                <li>Blueprint</li>
                <li>C++</li>
              </ul>
            </li>
            <li>
              Maya
              <ul>
                <li>Hard-surface modeling</li>
                <li>UV unwrapping</li>
              </ul>
            </li>
          </ul>
        </div>

        <div>
          <p class="skills-list-category">Programming Languages</p>

          <ul class="skills-sublist flexbox-vertical">
            <li>C++</li>
            <li>JavaScript</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="content-container-inner flexbox-vertical projects-section">
      <h1 class="heading">Projects</h1>

      {
        projects.length > 0 && (
          <ul class="list-without-bullets projects-list">
            {projects.map((project) => (
              <li class="project-link-container">
                <a class="flexbox-vertical project-link" href={project.url}>
                  <span class="project-link-title">
                    {project.frontmatter.title}
                  </span>

                  <span class="project-link-blurb">
                    {project.frontmatter.blurb}
                  </span>
                </a>

                <img
                  alt=""
                  class="project-image"
                  src={project.frontmatter.image}
                />
              </li>
            ))}
          </ul>
        )
      }
    </div>

    <style define:vars={{ projectLinkDimension }}>
      .about-section {
        gap: var(--spacing-7);
      }

      .content-container-inner {
        gap: var(--spacing-6);
      }

      .content-container-outer {
        align-items: center;
        gap: var(--spacing-8);
        padding-block: var(--spacing-7);
      }

      .heading {
        text-align: center;
      }

      .project-category {
        font-weight: var(--font-weight-1);
        font-size: var(--font-size-5);
        margin-block-end: var(--spacing-5);
        text-align: center;
      }

      .project-link-container {
        block-size: var(--projectLinkDimension);
        border-radius: var(--border-radius-1);
        display: block;
        inline-size: var(--projectLinkDimension);
        overflow: hidden;
        position: relative;
      }

      .project-image {
        inline-size: 100%;
        inset-block-start: 0;
        inset-inline-start: 0;
        opacity: 0.4;
        position: absolute;
        transition: opacity var(--transition-duration-1) ease-in-out;
        z-index: 1;
      }

      .project-link:hover ~ .project-image {
        opacity: 1;
      }

      .project-link {
        block-size: 100%;
        color: var(--color-neutral-9);
        inline-size: 100%;
        justify-content: space-between;
        padding: var(--spacing-4);
        position: relative;
        text-decoration: none;
        transition: color var(--transition-duration-1) ease-in-out;
        z-index: 2;
      }

      .project-link:hover {
        color: var(--color-neutral-0);
      }

      .project-link-blurb {
        font-size: var(--font-size-2);
      }

      .project-link-label {
        font-weight: var(--font-weight-2);
      }

      .project-link-title {
        font-size: var(--font-size-5);
        font-weight: var(--font-weight-2);
      }

      .list-without-bullets.projects-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--spacing-5);
        justify-content: center;
      }

      .content-container-inner.projects-section {
        max-inline-size: var(--sizing-17);
      }

      .skills-list {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-6) var(--spacing-10);
        justify-content: center;
      }

      .skills-list-category {
        font-size: var(--font-size-3);
        font-weight: var(--font-weight-2);
        margin-block-end: var(--spacing-1);
      }

      .skills-sublist {
        gap: var(--spacing-1);
      }

      .social-links {
        text-align: center;
      }

      .text-link {
        font-weight: var(--font-weight-1);
      }

      @media (min-width: 768px) {
        .content-container-inner {
          max-inline-size: var(--sizing-16);
        }
      }
    </style>
  </div>
</AppLayout>
