---
import HeroBanner from "../components/HeroBanner.astro";
import AppLayout from "./AppLayout.astro";
---

<AppLayout>
  <HeroBanner
    patternSrc="url('/images/patterns/graph-paper.svg')"
    subtitle="Blog"
    title="Anna Borja"
  />

  <div class="content-container with-responsive-padding-inline">
    <slot />
  </div>
</AppLayout>

<style>
  .content-container {
    padding-block: var(--spacing-5);
  }
</style>
