---
import HeroBanner from "../components/HeroBanner.astro";
import {
  BlogPostFrontmatter,
  blogPostModifierTagSet,
  blogPostSeriesTagSet,
  getBlogPostFullTitle,
} from "../helpers/blogHelpers";
import { formatBlogPostDate } from "../helpers/blogHelpers";
import AppLayout from "./AppLayout.astro";

const frontmatter = Astro.props.frontmatter as BlogPostFrontmatter;
const tags = frontmatter.tags || [];
const subTitleSegments = [];

const blogPostModifierTag = tags.find((tag) => blogPostModifierTagSet.has(tag));
const blogPostSeriesTag = tags.find((tag) => blogPostSeriesTagSet.has(tag));

if (blogPostSeriesTag) subTitleSegments.push(blogPostSeriesTag);
if (blogPostModifierTag) subTitleSegments.push(blogPostModifierTag);
---

<AppLayout title={getBlogPostFullTitle(frontmatter)}>
  <HeroBanner
    patternSrc="url('/images/global/hero-patterns/graph-paper.svg')"
    subtitle="Blog"
  />

  <div class="content-container with-responsive-padding-inline">
    <a class="blog-home-link text-link" href="/blog">Blog Home</a>

    <div class="post-date">{formatBlogPostDate(frontmatter)}</div>

    <h1>{frontmatter.title}</h1>

    {
      subTitleSegments.length > 0 && (
        <div class="subtitle">{subTitleSegments.join(" • ")}</div>
      )
    }

    <slot />
  </div>
</AppLayout>

<style>
  :global(.content-container h2) {
    margin-block-start: var(--spacing-7);
  }

  .blog-home-link {
    display: inline-block;
    margin-block-end: var(--spacing-7);
  }

  .content-container {
    padding-block-end: var(--spacing-7);
    padding-block-start: var(--spacing-5);
  }

  .post-date {
    font-size: var(--font-size-2);
    margin-block-end: var(--spacing-1);
  }

  .subtitle {
    font-size: var(--font-size-3);
    margin-block-end: var(--spacing-6);
  }
</style>
