---
import BlogLayout from "./BlogLayout.astro";
import {
  BlogPostFrontmatter,
  videoGameConsoleTagSet,
  whatImXTagSet,
} from "../helpers/blogHelpers";
import { formatBlogPostDate } from "../helpers/blogHelpers";

const frontmatter = Astro.props.frontmatter as BlogPostFrontmatter;
const tags = frontmatter.tags || [];
const subTitleSegments = [];

const videoGameConsoleTag = tags.find((tag) => videoGameConsoleTagSet.has(tag));
const whatImXTag = tags.find((tag) => whatImXTagSet.has(tag));

if (whatImXTag) subTitleSegments.push(whatImXTag);
if (videoGameConsoleTag) subTitleSegments.push(videoGameConsoleTag);
---

<BlogLayout>
  <a class="text-link" href="/blog">Blog Home</a>

  <div class="content">
    <div class="post-date">{formatBlogPostDate(frontmatter)}</div>

    <h1 class="title">{frontmatter.title}</h1>

    {
      subTitleSegments.length > 0 && (
        <div class="subtitle">{subTitleSegments.join(" • ")}</div>
      )
    }

    <slot />
  </div>
</BlogLayout>

<style>
  :global(h2) {
    margin-block-start: var(--spacing-7);
  }

  .content {
    margin-block-start: var(--spacing-6);
  }

  .post-date {
    font-size: var(--font-size-2);
    margin-block-end: var(--spacing-1);
  }

  .subtitle {
    font-size: var(--font-size-3);
  }
</style>
