---
import AppLayout from "./AppLayout.astro";
import type { ProjectFrontmatter } from "../helpers/projectHelpers";
import HeroBanner from "../components/HeroBanner.astro";

const frontmatter = Astro.props.frontmatter as ProjectFrontmatter;
---

<AppLayout title={frontmatter.title}>
  <HeroBanner
    patternSrc="url('/images/patterns/jigsaw.svg')"
    subtitle="Projects"
  />

  <div
    class="content-container-outer flexbox-vertical with-responsive-padding-inline"
  >
    <div class="content-container-inner">
      <a class="projects-home-link text-link" href="/projects">Projects Home</a>

      <h1>{frontmatter.title}</h1>

      <div class="subtitle">
        {frontmatter.year} • {frontmatter.genre}
      </div>

      <slot />
    </div>
  </div>
</AppLayout>

<style>
  :global(.content-container-inner h2) {
    margin-block-start: var(--spacing-7);
  }

  :global(.content-container-inner p) {
    margin-block: var(--spacing-5);
  }

  .content-container-outer {
    align-items: center;
    padding-block-end: var(--spacing-7);
    padding-block-start: var(--spacing-5);
  }

  .projects-home-link {
    display: inline-block;
    margin-block-end: var(--spacing-7);
  }

  .subtitle {
    font-size: var(--font-size-4);
  }

  @media (min-width: 768px) {
    .content-container-inner {
      max-inline-size: var(--sizing-17);
    }
  }
</style>
